.App {
  text-align: center;
  position: relative;
}
.add-to-card img {
  width: 100px;
  position: absolute;
  right: 1%;
  top: 1%;
}
.add-to-card img {
  width: 120px;
}
.card-wrapper {
  height: 100px;
  width: 500px;
  border: 1px solid #cccc;
  margin-left: 10%;
}
.img-wrapper img {
  width: 42px;
}
.btn-wrapper button {
  background-color: #ff0000;
  padding: 10px;
  border-radius: 4px;
  border: 0px;
  color: #fff;
  box-shadow: #000 0px 1px 5px;
}
.item {
  float: left;
  width: 120px;
  padding: 20px;
}
